{% extends "includes/_layout.html.twig" %}

{% block title %} {{ title|upper }} {% endblock %}

{% block content %}

	{% include data_content ~ ".html.twig" %}

{% endblock %}

{% block footer %}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">

        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="loadingGif" style="display:none; ">
        <p style="text-align: center;position: absolute;">Loading...</p>
   	</div>
   	<script>
   	
   	
   	</script>
{% endblock %}
