{% extends "./includes/_layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}


{% block main %}
  <header class="header bg-white b-b clearfix">
        <div class="row m-t-sm">
            <div class="col-sm-8 m-b-xs"> 
                <h5 style="font-weight:bold;">{{ title }}</h5>
            </div>
        </div>
    </header>
    
  <section class="scrollable wrapper w-f">
    <section class="panel panel-default" style="border: none;">
      <header class="panel-heading"> <strong>This is a title{{ lang(table_title) }}</strong> 
        <div class="btn-group pull-right" style="margin-top:-5px;">
          <button type="button" class="btn btn-sm btn-primary" title="Download" data-toggle="dropdown"><i class="fa fa-download"></i> &nbsp;&nbsp;Download <span class="caret"></span></button>
          
          <ul class="dropdown-menu">
            <li><a href="#">Excel</a></li>
            <li><a href="#">PDF</a></li>
          </ul>
          
        </div>
      </header>
      
        <div class="table-responsive">
           {{ table|raw }}
       </div>
       
        
    </section>
</section>

{% endblock %}