<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"> {{ title }}</h4>
    </div>
    <div class="modal-body">
        {% include "includes/description_table.html.twig" %}
    </div>
    <div class="modal-footer"> 
        {% if close %}
            <a href="#" 
            {% if redirection %} 
                {{ 'id="' ~ site_url(redirection) ~ '"' }}
            {% else %}
                    {{ 'data-dismiss="modal"' }}
                 class="btn btn-default {{ (redirection) ? "redirect" : ((reload) ? 'reload' : ((parent_reload) ? 'parent_reload' : '')) }} " >
                Close
                </a> 
            {% endif %}
      
    {% endif %}
               
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script>
    $(function(){
        $('.redirect').click(function(){
            $url = $(this).attr('id');
            $('.modal-dialog').html($('#loadingGif').html());
            window.location.replace($url);
        });
        
        $('.reload').click(function(){
            $('.modal-dialog').html($('#loadingGif').html());
            window.location.reload();
        });
        
        $('.parent_reload').click(function(){
            $('.modal-dialog').html($('#loadingGif').html());
            parent.window.location.reload();
        });
        
        $('.popup-btn').click(function(){
        $('.modal-dialog').html($('#loadingGif').html());
        $.ajax({
            url:$(this).attr('id'),
            success:function(data){
                $('.modal-dialog').html(data);
            }
        });
   });//end click 
    });
</script>