<div class="col-xs-4">
   	<div class="padder-v"> 
   		<a href="{{ link['url'] }}"> 
   			<span class="m-b-xs block"> 
   				<i class="i {{ link['icon'] }} i-3x {{ link['class'] }}"></i> 
   			</span> 
   			<small class="text-muted">{{ link['name'] }}</small> 
   		</a> 
	</div>
</div>
