<div class="col-sm-12">
                <section class="panel panel-default">
                  <header class="panel-heading">  {{  }} </header>
                  <table class="table table-striped m-b-none">
                    <tbody>
                      <tr>
                        <td><div class="progress progress-sm progress-striped active m-t-xs m-b-none">
                            <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
                          </div></td>
                        <td>App prototype design</td>
                        <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                            <ul class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div></td>
                      </tr>
                      <tr>
                        <td><div class="progress progress-xs m-t-xs m-b-none">
                            <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="40%" style="width: 40%"></div>
                          </div></td>
                        <td>Design documents</td>
                        <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                            <ul class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div></td>
                      </tr>
                      <tr>
                        <td><div class="progress progress-xs m-t-xs m-b-none">
                            <div class="progress-bar bg-warning" data-toggle="tooltip" data-original-title="20%" style="width: 20%"></div>
                          </div></td>
                        <td>UI toolkit</td>
                        <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                            <ul class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div></td>
                      </tr>
                      <tr>
                        <td><div class="progress progress-xs m-t-xs m-b-none">
                            <div class="progress-bar bg-danger" data-toggle="tooltip" data-original-title="15%" style="width: 15%"></div>
                          </div></td>
                        <td>Testing</td>
                        <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
                            <ul class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div></td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </div>